body {
	min-height: 100vh;
	overflow: scroll;
	margin: 0;
	display: flex;
	gap:2vh;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: black;
}

.redirectingText {
	color: white;
	font-family: 'Boston Traffic';
	letter-spacing: 2vw;
	font-size: 5rem;
}

.reveal {
	animation: reveal 2s forwards;
}

.link {
	font-family: "Boston Traffic";
	text-align: center;
	color: white;
	font-size: 50px;
	background-color: black;
	padding: 0.5vw;
	border-radius: 1vmin;
	transition: filter 200ms;
}

.link:hover {
	filter: invert()
}

@keyframes reveal {
    0% {
		filter: blur(10px);
	}
	100% {
		filter: blur(0px);	
	}
}